<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='digital.png')}}" />
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Digital Twin Inquire System</title>
</head>

<body>
    <div class="container">
        <div class="waiting">
            Waiting...
        </div>
    </div>
</body>


</html>